{% extends 'Base.html' %}
{% block title %} Form Page {% endblock %}
{% block content %}

<form action='{{ url_for('predict') }}' method='POST'>
    <div class='row mb-3'>
        <label for="inputEmail3" class="col-sm-3 col-form-label">Machine Type</label>
        <div class='col-sm-9'>
            <select class="form-select" name='machine_type' id='machine_type'>
                <option value="0" selected>Low</option>
                <option value="1">Medium</option>
                <option value="2">High</option>
            </select>
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Air Temperature[C]</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="air_temp" name='air_temp' required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Torque[Nm]</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="torque" name='torque' required>
        </div>
    </div>
    <div class="row mb-3">
        <label for="inputEmail3" class="col-sm-3 col-form-label">Tool Wear[min]</label>
        <div class="col-sm-9">
            <input type="text" class="form-control" id="tool_wear" name='tool_wear' required>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Predict</button>
</form>


{{prediction_text}}
{% endblock %}